.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >.card {
        flex-grow: 1;
        background: var(--welcome-card-bg);
        border-radius: 8px;
        padding: 16px;
        margin: 16px 16px 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        >img {
            width: 200px;
        }
    }

    >.actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 16px;
        padding: 24px 0;
        font-size: 24px;
        color: var(--welcome-text);

        >a {
            &:nth-child(1) {
                visibility: hidden;
            }
        }
    }
}