.total {
  background: rgb(114, 214, 227);
  border-radius: 8px;
  width: calc(100% - 32px);
  margin: 16px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 18px;

  > tr {
    > td {
      padding: 8px 0;

      &:first-child {
        color: green;
      }

      &:nth-child(2) {
        color: red;
      }
    }
  }
}

.list {
  > li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 12px 16px;
  }

  .sign {
    flex-grow: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
  }

  .text {
    margin-right: 4px;
    margin-left: 4px;
    flex-grow: 1;
    flex-shrink: 1;

    .tagAndAmount {
      display: flex;
      justify-content: space-between;

      .tag {
        color: #333;
      }

      .amount {
        color: var(--button-bg);
      }
    }

    .time {
      color: #999999;
      margin-top: 4px;
    }
  }
}

.more {
  padding-top: 32px;
  text-align: center;
}
