.button {
    border: 1px solid var(--button-bg);
    font-size: 18px;
    padding: 8px 16px;
    background: var(--button-bg);
    color: var(--button-text);
    border-radius: 8px;
    height: 48px;
}