@use "sass:math";

.floatButton {
    background: var(--float-button-bg);
    width: 56px;
    height: 56px;
    border-radius: math.div(56px, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    .icon {
        width: 24px;
        height: 24px;
        fill: var(--float-button-text);
    }
}