.form {
    padding: 16px;
}

.formRow {
    margin-top: 8px;
}

.formLabel {
    display: block;
}

.formItem {
    min-height: 48px;
    max-width: 100%;

    &.button {
        width: 100%;
    }

    &.input {
        flex-grow: 1;
        border: 1px solid var(--button-bg);
        border-radius: 8px;
        font-size: 18px;
        font-family: inherit;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);

        &.error {
            border-color: #E10505;
        }
    }

    &_value {
        display: flex;
        margin-top: 4px;

        >* {
            flex-grow: 1;
        }
    }

    &_errorHint {
        margin-top: 4px;
        color: #E10505;
        font-size: 12px;
    }
}