.navbar {
    background: linear-gradient(to bottom, var(--navbar-bg-start), var(--navbar-bg-end));
    color: var(--navbar-text);
    fill: var(--navbar-text);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 16px 12px 16px;
    z-index: 2;

    >.icon_wrapper {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        >* {
            max-width: 100%;
            max-height: 100%;
            min-width: 32px;
            min-height: 32px;
        }
    }

    >.title_wrapper {
        font-size: 24px;
        font-weight: bold;
        margin-left: 18px;
    }
}