.tabs {
    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--sign-text);
        background: var(--welcome-bg-end);
        box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);

        >li {
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            padding: 12px 0;

            &.selected {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: rgba(255, 255, 255, 0.8);
                }

            }
        }
    }
}