.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);

    >header {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        color: #D4d4EE;

        .icon {
            height: 70px;
        }
    }

    >main {
        flex-grow: 1;
        display: flex;
        margin: 16px 16px 0 16px;
        position: relative;
    }

    >footer {
        flex-shrink: 0;
    }
}

.enterActive,
.leaveActive {
    transition: all .5s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.enterFrom {
    transform: translateX(100vw);
    opacity: 0;
}

.leaveTo {
    transform: translateX(-100vw);
    opacity: 0;
}