.wrapper {
  padding: 16px;
}
.select {
  padding: 16px 0;
  font-size: 20px;

  select {
    font-size: inherit;
    border-radius: 8px;
    margin-left: 16px;
    padding: 0 8px;
    width: 40vw;
    height: 36px;
  }
}
