.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    --van-overlay-z-index: 3;

    &_inner {
        background: white;
        width: 80vw;

        >header {
            background: var(--button-bg);
            padding: 12px 16px;
            color: white;
        }
    }
}

.actions {
    text-align: right;

    button {
        border: none;
        background: transparent;
        padding: 8px 16px;

        &+& {
            margin-left: 16px;
        }
    }
}