:root {
    --welcome-bg-start: #1378d6;
    --welcome-bg-end: #5ec4e6;
    --welcome-card-bg: white;
    --welcome-text: white;
    --z-index-bottom-nav: 10;
    --button-bg: #0966bc;
    --button-text: white;
}